@keyframes colorshift {
    0% {
        background-color: #24aecc;
    }
    11% {
        background-color: #245bcc
    }
    22% {
        background-color: #3c24cc;
    }
    33% {
        background-color: #9324cc;
    }
    44% {
        background-color: #cc2478;
    }
    55% {
        background-color: #cc2424;
    }
    66% {
        background-color: #cc5b24;
    }
    77% {
        background-color: #ccbe24;
    }
    88% {
        background-color: #24cc73;
    }
    100% {
        background-color: #24aecc;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/*Navigation title*/

#title {
    font-family: 'Rock Salt',
    cursive;
    color: white;
    cursor: pointer;
    position: absolute;
    background-color: inherit;
    margin: 0;
    top: -8px;
    left: 5px;
}

#logo {
    position: absolute;
    background-color: inherit;
    margin: 0;
    left: 1%;
    top: 7px;
}

#logo:hover {
    background-color: none;
}

#map {
    position: absolute;
    top: 5.2%;
    bottom: 0;
    width: 100%;
}

.marker {
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

/*nav bar code*/

.navbar {
    height: 40px;
    overflow: hidden;
    transition: background-color 5s linear;
    animation: colorshift 80s infinite;
    transition-timing-function: ease-in;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-left: 16px;
    text-decoration: none;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 20px 12px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/*key code*/

.key h3 {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 10px;
    top: -40px;
    color: white;
}

.key {
    position: absolute;
    left: 25px;
    top: 300px;
}

#symbols {
    position: absolute;
    padding: 10px;
}

.show {
    display: block;
}

/* Hamburger Nav */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    position: absolute;
    top: -17px;
    right: 0;
    transition: margin-left .5s;
    padding: 16px;
}

/*Changes inside nav*/

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
